<%- include('header'); -%>

<h2>About Us</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam quas et ex impedit, perspiciatis voluptatibus aspernatur. Qui, temporibus quos explicabo quibusdam inventore voluptate porro sed tenetur! Iure odio sunt ut consequatur non porro! Eos iste cupiditate illo maiores officia quam ipsum pariatur delectus non sint.</p>




<%- include('footer'); -%>